/* Reset some default styling */
body, h1, ul {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 2em 0;
}
nav a {
    text-decoration: none;
    color: white;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0056b3;
}
